#showcase {
    background-color: #fff;
    border: 1px solid #e6b75b;
    border-radius: 5px;
    height: 200px;
    box-shadow: 0 0 15px #e6b75b;
    padding: 15px;
}

#main {
    background-color: #fff;
    border: 1px solid #e6b75b;
    border-radius: 5px;
    margin-top: 25px;
    display: table;
    width: 100%;
    box-shadow: 0 0 15px #e6b75b;
}

#main-articles {
    display: table-cell;
    min-width: 700px;
    width: 700px;
    border-right: 1px solid #e8e8e8;
    padding: 15px;
}

#other-articles {
    display: table-cell;
    width: 300px;
    padding: 15px;
}

h2.articulo-header {
    color: #c20000;
}

span.articulo-meta {
    color: #999;
}

div.articulo-content {
    margin: 10px 0;
    color: #444;
}

