<div class="background">
    <div id="add-gal-cont" class="popup">
        <div class="close"> X </div>
        <h2 class="popup-header"> Agregar Galeria </h2>
        <form id="galeria">
            <label for="name"> Nombre </label>
            <input id="name" class="gral-input" type="text" name="nombre" /> <br />
            <label for="descripcion"> Descripcion </label>
            <input id="desc" class="gral-input" type="text" name="descripcion" /> <br />
            <label for="orden"> Orden </label>
            <input class="gral-input" id="orden" type="number" name="orden"
                min="1" max="10" step="1" value="1" />
            <input type="submit" value="Agregar" />
        </form>
    </div>
</div>
