<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base.css" />
        {% block head %} {% endblock %}
        <title>{% block title %} MORENAJE {% endblock %}</title>
    </head>
    <body>
        <div id="header">
            <img id="logo" src="/static/images/logo.png" />
            <ul id="menu">
                <li class="menu-item">
                    {% block principal %}
                        <a class="tab inactive-tab" href="/"> PRINCIPAL </a>
                    {% endblock %}
                </li>
                <li class="menu-item">
                    {% block editorial %}
                        <a class="tab inactive-tab" href="/editorial"> EDITORIAL </a>
                    {% endblock %}
                </li>
                <li class="menu-item">
                    {% block participa %}
                        <a class="tab inactive-tab" href="/participa"> PARTICIPA </a>
                    {% endblock %}
                </li>
<!--                <li class="menu-item">
                    {% block eventos %}
                        <a class="tab inactive-tab" href="/eventos"> EVENTOS </a>
                    {% endblock %}
                </li>-->
                <li class="menu-item">
                    {% block galeria %}
                        <a class="tab inactive-tab" href="/galeria"> GALERIA </a>
                    {% endblock %}
                </li>
                <li class="menu-item">
                    {% block contacto %}
                        <a class="tab inactive-tab" href="/contacto"> CONTACTO </a>
                    {% endblock %}
                </li>
            </ul>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>